{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
  <h2>Register</h2>
</div>

<div class="card-body">
  <form action="" method="POST">
    {% csrf_token %}

    <label> {{form.username.label}} </label>
    {{form.username}}

    <label> {{form.password1.label}} </label>
    {{form.password1}}

    <label> {{form.password2.label}} </label>
    {{form.password2}}

    <input type="submit" value="Register" class="button" style="margin-top: 10px;" />
  </form>
  <p>Already Have an Account ? <a href=" {% url 'login' %} ">Login</a></p>
</div>


{% endblock content %}